<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- build:css styles/options-vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="pockeedly" ng-controller="OptionController" ng-init="init()">
    <div id="content" class="container" ng-cloak>

      <!--
        Input form
      -->
      <form class="form-horizontal">
        <!-- Key binding -->
        <div class="form-group">
          <label class="control-label col-xs-1" for="input-keymap">Key</label>
          <div class="col-xs-11">
            <input type="text" name="text" placeholder="ctrl-s" maxlength="0"
                   id="input-keymap" class="form-control" ng-model="keystr"
                   ng-keydown="onKeydown($event)" ng-keyup="onKeyup($event)"/>
          </div>
        </div>

        <!-- Script to run -->
        <div class="form-group">
          <label class="control-label col-xs-1" for="input-script">Script</label>
          <div class="col-xs-11">
              <textarea name="script" placeholder="javascript:(function(){...})()"
                        id="input-script" class="form-control"
                        ui-codemirror="{ mode: 'javascript', lineWrapping: true }"
                        ng-model="config.script"></textarea>
          </div>
        </div>
      </form>

      <!--
        Action buttons
      -->
      <div class="actions text-center">
        <button class="btn btn-primary btn-action" ng-click="save()">Save</button>
        <button class="btn btn-danger  btn-action" ng-click="clear()">Clear</button>
      </div>

      <!--
        Modal dialogs
      -->

      <!-- Confirm -->
      <script type="text/ng-template" id="alert/confirm.html">
        <div class="modal-header">
          <button type="button" class="close" ng-click="reject()">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">{{title || "Are you sure?"}}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="fulfill()">OK</button>
          <button type="button" class="btn btn-default" ng-click="reject()">Cancel</button>
        </div>
      </script>

      <!-- Success -->
      <script type="text/ng-template" id="alert/success.html">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">{{title || "Success!!"}}</h4>
        </div>
        <div class="modal-body" ng-if="!!message">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="close()">OK</button>
        </div>
      </script>

      <!-- Error -->
      <script type="text/ng-template" id="alert/error.html">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">
            <span>&times;</span>
          </button>
          <h4 class="modal-title">{{title || "Error"}}</h4>
        </div>
        <div class="modal-body" ng-if="!!message">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="close()">OK</button>
        </div>
      </script>
    </div>

    <!-- build:js scripts/options-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/codemirror/addon/display/placeholder.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/pockeedly.js"></script>
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
